.radioselector {
  /* background-color: yellow; */
  /* display: flex; */
  padding: 10px;
  margin: 10px;
  /* height: auto; */
  /* width: auto; */
  /* flex-direction: column; */
}

.QuestionPage {
  /* display: flex; */
  /* display: block; */
  text-align: center;
  /* background-color: turquoise; */
  align-items: center;
  align-content: center;

  position: relative;
}
.testin {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.containerForFutureImage {
  display: flex;
  justify-content: center;
}

.previewContainer {
  width: 640px;
  height: 320px;
  border: solid 2px black;
}

.contentBox {
  display: flex;
  width: 640px;
  height: 320px;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */
  /* align-content: center; */
}

.prviewImage {
  border: solid black 2px;
  width: 640px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testing {
  /* background-color: tomato; */
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  height: 25px;
}

.testing-a {
  /* background-color: black; */
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 25px;
}

.option {
  /* background-color: gray; */
  display: flex;
  /* flex-wrap: wrap;    */
  padding: 10px;
  /* margin: 5px; */
  width: 100px;
}

.inputFields {
  /* background-color: purple; */
  /* display: flex; */
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 25px;
  /* flex-direction: column-reverse; */
  /* justify-content: space-between; */
  /* position: relative; */
  /* float: left; */
}
