.thequiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background: repeating-linear-gradient(
      pink 2px,
      transparent 3px,
      transparent 30px
    ),
    repeating-linear-gradient(
        90deg,
        pink 2px,
        transparent 3px,
        transparent 40px
      )
      10px 0;
  filter: drop-shadow(0 0 1px magenta) drop-shadow(0 0 3px magenta)
    drop-shadow(0 0 7px cyan);
  animation: move 10s linear infinite;
}

#text {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.high-scores {
  color: transparent;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  transform: translatey(25px);
  background: linear-gradient(
    cornflowerblue 30%,
    white,
    darkmagenta 60%,
    cornflowerblue 100%
  );
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px silver;
  filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
  animation: bg-shift 0.5s ease-in-out infinite alternate;
}
.quiz-timer {
  text-align: center;
  display: inline-block;
}

.quiz-img {
  width: 640px;
  height: 320px;
}

.quiz-question {
  padding: 20px;
  text-transform: uppercase;
}

.quiz-answers {
  list-style-type: none;
}

/* .quiz-answers li {
  display: inline-block;
  border-radius: 5px;
  background: purple;
  border: 1px solid black;
  padding: 20px;
} */

.quiz-controls {
  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.quiz-playerInput {
  padding: 12px 20px;
  text-align: center;
}
